<hr>
<h1>this is used for the the practice</h1>
<p>the server component</p>
<input type="text" value="username" (change)="UpdateUser($event);CheckUser()">
<p [innerText]="username">string interpolation demo type anything in the above text box and click some ware else to see
    the magic</p>
<input type="text" [(ngModel)]="username" (change)="CheckUser()">
<p><b>output via string interpolation : </b>{{ username }} </p>
<button [disabled]="buttonStaus" (click)="username = '';CheckUser()">Reset The User</button>
<button [disabled]="username == ''" (click)="username = ''">rest with ==</button>
<button [disabled]="username === ''" (click)="username = ''">rest with ===</button>