.CalcButtons {
    display: grid;
    grid-template-columns: auto auto auto auto;
    background-color: #68ffe6;
    padding: 10px;
    width: 70%;
    align-items: center;
    margin: auto;
}

.Button {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 20px;
    font-size: 30px;
    text-align: center;
}

.Button:active {
    background-color: rgba(255, 255, 255, 0.8);
    border: 10px solid rgba(0, 109, 252, 0.6);
    padding: 11px;
    font-size: 30px;
    text-align: center;
}

.Clear {
    grid-column: 3/span 2;
}