<h1>{{ title }}</h1>

Input1:<input type="text" class="form-control" [(ngModel)]="input1" (ngModelChange)='Calculator()'>

<p>The Input is : {{ input1 }} </p>
<p>The Output : {{ output }}</p>

<div class="CalcButtons">
    <button class="Button" (click)="presskey('1')">1</button>
    <button class="Button" (click)="presskey('2')">2</button>
    <button class="Button" (click)="presskey('3')">3</button>
    <button class="Button" (click)="presskey('4')">4</button>
    <button class="Button" (click)="presskey('5')">5</button>
    <button class="Button" (click)="presskey('6')">6</button>
    <button class="Button" (click)="presskey('7')">7</button>
    <button class="Button" (click)="presskey('8')">8</button>
    <button class="Button" (click)="presskey('9')">9</button>
    <button class="Button" (click)="presskey('0')">0</button>
    <button class="Button" (click)="presskey('+')">+</button>
    <button class="Button" (click)="presskey('-')">-</button>
    <button class="Button" (click)="presskey('*')">*</button>
    <button class="Button" (click)="presskey('/')">/</button>
    <button class="Button Clear" (click)="presskey('')">clear</button>
</div>


<app-server></app-server>

<app-service></app-service>

<app-service></app-service>